.com{color:#93a1a1}.lit{color:#195f91}.pun,.opn,.clo{color:#93a1a1}.fun{color:#dc322f}.str,.atv{color:#D14}.kwd,.prettyprint .tag{color:#1e347b}.typ,.atn,.dec,.var{color:teal}.pln{color:#48484c}.prettyprint{padding:8px;background-color:#f7f7f9;border:1px solid #e1e1e8}ol.linenums{margin:0}ol.linenums li{padding-left:12px;color:#bebec5;line-height:20px;text-shadow:0 1px 0 #fff}
body {
	background-color: #f1f1f1;
	padding:20px;
}
body.home {
	background-color: #e5e5e5;
}
::selection {
	background: rgba(0,140,248,0.8);
	color:white;
	text-shadow:none;
}
.well .section {
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset, #fff 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset, #fff 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset, #fff 0 1px 0;
}
pre.prettyprint{
    width: auto;
    overflow: auto;
    max-height: 300px;
}
textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.9) !important;
	outline: 0 !important;
	outline: thin dotted \9 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(82,168,236,1) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(82,168,236,1) !important;
}
h4 .success {
	color:green;
}
h4 .fail {
	color:red;
}
.submission {
	cursor:pointer;
}
.noselect {
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-o-user-select: none;
   	user-select: none;
}
#real_file:focus {
	box-shadow:none !important;
	border: 1px solid rgb(204, 204, 204) !important;
}
#preview_problems td {
 border:1px solid rgba(0,0,0,0.15) !important;
}