<html>
<head>
<?php require_once "head.html"; ?>	
</head>
<body>
	<div class="container">
		<div class="col-lg-12">
			<div onClick="window.location = '/';" style='margin:0 auto;background:url("/views/assets/images/taylor_logo_small.png") no-repeat;width: 144px;height:128px;margin-bottom:20px;cursor:pointer'></div>
			<div style="width:350px;font-size:18px;margin:0 auto; text-align:center; margin-bottom: 20px;color:rgba(0,0,0,0.6);text-shadow:0 1px rgba(255,255,255,0.4); font-weight: bold;"><?=contest_name?></div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="well section" style="">
					<legend id="compile_legend">Compile</legend>
					<form method="post" name="compile" id="compile_form" action="#" accept-charset="utf-8">
						<pre id="byte_content" class="prettyprint linenums" style="display:none;"></pre>
						<div id="output_container" style="display:none;">
							<legend>Results</legend>
							<div class="alert alert-success" id="compile_success_alert" style="display:none">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Success - </strong>
							</div>
							<div class="alert alert-danger" id="compile_danger_alert" style="display:none">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Error - </strong>
							</div>
							<legend id="error_divider"></legend>
							<pre id="output" class="prettyprint linenums"></pre>
						</div>
						<fieldset class="form-container" >
							<div class="form-group"><input type="file" id="files" accept="text/plain"><br><legend></legend></div>
							<textarea name="code" id="code" cols="30" rows="10" style="display:none"></textarea>

							<button type="button" class="btn btn-block btn-default" id="upload" tabindex="5" style="" data-loading-text="Uploading...">Upload</button>
							<button type="button" class="btn btn-block btn-success" id="compile" tabindex="5" style="display:none" data-loading-text="Judging...">Judge</button>
							<button type="button" class="btn btn-block btn-primary" id="resubmit" tabindex="5" style="display:none" data-loading-text="Resubmitting..." onClick="onCompileResubmit()">Resubmit</button>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- <div style="width:350px;font-size:18px;margin:0 auto; text-align:center; margin-bottom: 20px;color:rgba(0,0,0,0.6);text-shadow:0 1px rgba(255,255,255,0.4); font-weight: bold;">- or -</div> -->
		</div>
	</div>
<?php require_once "js.html"; ?>
</body>
</html>