<html>
<head>
<?php require_once "head.html"; ?>
</head>
<body class="home">
	<noscript>
    	<style type="text/css">
    	    .main {display:none;}
    	</style>
    	<div class="container noscriptmsg">
    		<div class="noscriptinner">
    			<div class="col-lg-12">
    				<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</noscript>
	<div class="container badbrowsermsg" style="display:none;">
		<div class="badbrowserinner">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</div>
	<div class="container main">
		<div class="navbar" style="background:#f7f7f7 !important">
			<a class="navbar-brand" href="/">THSCS 2013</a>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/submit">Submit</a></li>
				<li><a href="/scoreboard">Scoreboard</a></li>
				<li><a href="/#helpbox">Help</a></li>
			</ul>
			<p class="navbar-text pull-right"><a href="/logout" style="text-decoration: none" class="navbar-link">Logout</a></p>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-success" style="">
					<h4>Welcome!</h4>
					This control panel can be used to submit problems, clarifications, and more. By registering, you agree to abide by all of the contest rules. All activity is being logged, and anti-tamper systems are in place. Please do not put us in a situation where your team would be disqualified. If you are ordering pizza, make sure to do so before the contest starts. To ensure that you do not experience any problems with the web control panel, use a modern, standards-compliant web browser such as Google Chrome or Mozilla Firefox, and make sure JavaScript is enabled. If you need help, raise your hand; someone will come to assist you. 
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="well section" style="">
					<div class="row">
						<div class="col-lg-7"  style="border-right:1px solid #d1d1d1">
							<legend>Team Info</legend>
							<div class="form-group">
								<input type="text" class="form-control" value="Taylor High School" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Advanced" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Team Number <?=$t?>" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Andy Sturzu" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Chufan Liang" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Jonathan Zong" disabled>
							</div>
							<div class="alert alert-warning" style="">
								Please raise your hand if you need to change your team information. 
							</div>															
						</div>
						<div class="col-lg-5">
							<legend>Problems</legend>
							<div class="alert alert-info" style="">
								<h4>Info!</h4>
								Every problem is worth 60 points, each incorrect submission deducts 5 points if the problem ends up solved. Maximum possible score is 720 points. 
							</div>
							<table class="table table-bordered table-condensed" id="preview_problems">
								<tr><td class="success"><b>1.</b> Abstergo</td><td class="danger"><b>7.</b> The O'Really Factor</td></tr>
								<tr><td class="warning"><b>2.</b> Secret Top Secret</td><td class="success"><b>8.</b> GNU Not Unix</td></tr>
								<tr><td class="success"><b>3.</b> Solitary</td><td class="warning"><b>9.</b> Daniel's Tiling Company</td></tr>
								<tr><td class="danger"><b>4.</b> Eboola</td><td class="success"><b>10.</b> Look and See</td></tr>
								<tr><td class="success"><b>5.</b> Tick Tock</td><td class="danger"><b>11.</b> Ub3r Inj3c0r</td></tr>
								<tr><td class="warning"><b>6.</b> Palindromida</td><td class="success"><b>12.</b> Game of  Life Redux</td></tr>
							</table>
							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-7" style="padding-top:20px;border-top:1px solid #d1d1d1;border-right:1px solid #d1d1d1">
							<legend>Written Scores</legend>
							<table class="table table-bordered table-striped">
								<tr><td>Andy</td><td>N/A</td></tr>
								<tr><td>Chufan</td><td>N/A</td></tr>
								<tr><td>Jonathan</td><td>240</td></tr>
							</table>
						</div>
						<div class="col-lg-5">
							<legend>Legend</legend>
							<table class="table table-bordered table-condensed" id="preview_problems">
								<tr><td class="success"><b>Correct</b></td></tr>
								<tr><td class="danger"><b>Incorrect</b></td></tr>
								<tr><td class="warning"><b>No Submission</b></td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" style="margin-top:-21px !important;">
				<div class="well section" style="border-top-left-radius:0px !important;border-top-right-radius:0px !important;background:#eaeaea">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-10">
									<legend>Pizza</legend>				
								</div>
								<div class="col-lg-2">
									<legend>Total</legend>	
								</div>
							</div>
							<form id="pizzaform">
								<div class="row">
									<div class="col-lg-10">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">Cheese&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
												<input type="text" name="cheese" id="cheese" class="form-control" placeholder="Cheese Pizza Count">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">Sausage&nbsp;&nbsp;&nbsp;</span>
												<input type="text" name="sausage" id="sausage" class="form-control" placeholder="Sausage Pizza Count">
											</div>											
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">Pepperoni&nbsp;</span>
												<input type="text" name="pepperoni" id="pepperoni" class="form-control" placeholder="Pepperoni Pizza Count">
											</div>											
										</div>
						
									</div>
									<div class="col-lg-2">
										<span style="text-align:center"><h1 id="total" style="color:green;line-height:100px">$0</h1></span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<blockquote style="color:#888;">By submitting this order, you agree to pay the quoted amount. </blockquote>
										<div class="form-group">
											<button class="btn btn-danger btn-block">Order</button>
										</div>											
									</div>
								</div>
	
							</form>
						</div>
						<div class="col-lg-6">
							<legend id="helpbox">Help</legend>
							<ol>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q1">How will I get my pizza?</span>
									<div id="q1" class="collapse">Once you order through the control panel, come up to the pizza stand and pay for your order. We'll let you know when the pizza is here. Claim your pizza with your ticket.</div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q2">Are written scores combined with the programming?</span>
									<div id="q2" class="collapse">Nope! Written scores are separate, to give the smaller teams a fighting chance. Written scores shall only be used for  the purpose of breaking ties.</div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q3">How do I appeal?</span>
									<div id="q3" class="collapse">At the end of the contest, you will be able to go through your individual runs and you will be able to see your output compared to the judges output. If we made a mistake, then hit the appeal button!</div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q4">How will I receive a notification if there is a new clarification?</span>
									<div id="q4" class="collapse">Your web browser is connected to our server via. websockets, so anything that we send out, you get it immediately. You'll even get a handy alert!</div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q5">Why can I only see my team's written scores?</span>
									<div id="q5" class="collapse">If we gave out the all of the written scores, how much fun would that leave for the awards ceremony? If you don't see your own team members scores, that means it hasn't been entered in yet, or your team member didn't write his name legibly :( </div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q6">Will I be able to preview my source code before submitting?</span>
									<div id="q6" class="collapse">Yes! We have a handy feature that shows you what you're submitting before you press that judge button. This prevents any accidental submissions!</div>
								</li>
								<li>
									<span data-toggle="collapse" class="btn btn-link btn-block navbar-link" style="text-align:left;cursor:pointer;outline:none;text-decoration:none" data-target="#q7">I have a question that is not here or something isn't working.</span>
									<div id="q7" class="collapse">Submit a general clarification if the contest has started, or simply raise your hand if it hasn't.</div>
								</li>								
							</ol>
						</div>
					</div>
					
				</div>	
			</div>
			<div class="col-lg-1"></div>	
		</div>
	</div>
<?php require_once "js.html"; ?>
</body>
</html>