<html>
<head>
<?php require_once "head.html"; ?>
</head>
<body class="home">
	<noscript>
    	<style type="text/css">
    	    .main {display:none;}
    	</style>
    	<div class="container noscriptmsg">
    		<div class="noscriptinner">
    			<div class="col-lg-12">
    				<h1>Sorry!</h1>
    				<p>Either your web brower does not have JavaScript turned on or your web browser does not support JavaScript. To ensure that you do not experience any problems with the web control panel, use a modern, standards-compliant web browser such as Google Chrome or Mozilla Firefox, and make sure JavaScript is enabled.</p>
    			</div>
    		</div>
    	</div>
	</noscript>
	<div class="container badbrowsermsg" style="display:none;">
		<div class="badbrowserinner">
			<div class="col-lg-12">
				<div class="col-lg-12">
    				<h1>Sorry!</h1>
    				<p>Your web browser is not supported by the control panel. To ensure that you do not experience any problems with the web control panel, use a modern, standards-compliant web browser such as Google Chrome or Mozilla Firefox, and make sure JavaScript is enabled.</p>
    			</div>
    		</div>
    	</div>
	</div>
	<div class="container main">
		<div class="navbar" style="background:#f7f7f7 !important">
			<a class="navbar-brand" href="#">THSCS 2013</a>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/submit">Submit</a></li>
				<li><a href="/scoreboard">Scoreboard</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-success" style="">
					<h4>Welcome!</h4>
					This control panel can be used to submit problems, clarifications, and more. By registering, you agree to abide by all of the contest rules. All activity is being logged, and anti-tamper systems are in place. Please do not put us in a situation where your team would be disqualified. If you are ordering pizza, make sure to do so before the contest starts. To ensure that you do not experience any problems with the web control panel, use a modern, standards-compliant web browser such as Google Chrome or Mozilla Firefox, and make sure JavaScript is enabled. If you need help, raise your hand; someone will come to assist you. 
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="well section" style="">
					<div class="row">
						<div class="col-lg-7"  style="border-right:1px solid #d1d1d1">
							<legend>Team Info</legend>
							<div class="form-group">
								<input type="text" class="form-control" value="Taylor High School" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Advanced" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Team Number 9000" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Andy Sturzu">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Chufan Liang">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" value="Jonathan Zong">
							</div>
							<div class="form-group">
								<button class="btn btn-success btn-block">Submit</button>
							</div>															
						</div>
						<div class="col-lg-5">
							<legend>Problems</legend>
							<div class="alert alert-info" style="">
								<h4>Info</h4>
								Every problem is worth 60 points, each incorrect submission deducts 5 points if the problem ends up solved. Maximum possible score is 720 points. 
							</div>
							<table class="table table-bordered table-condensed" id="preview_problems">
								<tr><td class="success">1.</td><td class="danger">7.</td></tr>
								<tr><td class="warning">2.</td><td class="success">8.</td></tr>
								<tr><td class="success">3.</td><td class="warning">9.</td></tr>
								<tr><td class="danger">4.</td><td class="success">10.</td></tr>
								<tr><td class="success">5.</td><td class="danger">11.</td></tr>
								<tr><td class="warning">6.</td><td class="success">12.</td></tr>
							</table>
							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-7" style="padding-top:20px;border-top:1px solid #d1d1d1;border-right:1px solid #d1d1d1">
							<legend>Written Scores</legend>
							<table class="table table-bordered table-striped">
								<tr><td>Andy</td><td>N/A</td></tr>
								<tr><td>Chufan</td><td>N/A</td></tr>
								<tr><td>Jonathan</td><td>240</td></tr>
							</table>
						</div>
						<div class="col-lg-5">
							<legend>Legend</legend>
							<table class="table table-bordered table-condensed" id="preview_problems">
								<tr><td class="success">Correct</td></tr>
								<tr><td class="danger">Incorrect</td></tr>
								<tr><td class="warning">No Submission</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" style="margin-top:-21px !important;">
				<div class="well section" style="border-top-left-radius:0px !important;border-top-right-radius:0px !important;background:#eaeaea">
					<div class="row">
						<div class="col-lg-6">
							<legend>Pizza</legend>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Cheese Pizza Count">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Sausage Pizza Count">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Pepperoni Pizza Count">
							</div>
							<blockquote style="color:#888;">By submitting this order, you agree to pay the quoted amount. </blockquote>
							<div class="form-group">
								<button class="btn btn-danger btn-block">Order</button>
							</div>	
						</div>
						<div class="col-lg-6">
							<legend>Help</legend>
							
						</div>
					</div>
					
				</div>	
			</div>
			<div class="col-lg-1"></div>	
		</div>
	</div>
<?php require_once "js.html"; ?>
</body>
</html>