<html>
<head>
<?php require_once "head.html"; ?>	
</head>
<body>
	<noscript>
    	<style type="text/css">
    	    .main {display:none;}
    	</style>
    	<div class="container noscriptmsg">
    		<div class="noscriptinner">
    			<div class="col-lg-12">
    				<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</noscript>
	<div class="container badbrowsermsg" style="display:none;">
		<div class="badbrowserinner">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</div>
	<div class="container main">
		<div class="col-lg-12">
			<div onClick="window.location = '/';" style='margin:0 auto;background:url("/views/assets/images/taylor_logo_small.png") no-repeat;width: 144px;height:128px;margin-bottom:20px;cursor:pointer'></div>
			<div style="width:350px;font-size:18px;margin:0 auto; text-align:center; margin-bottom: 20px;color:rgba(0,0,0,0.6);text-shadow:0 1px rgba(255,255,255,0.4); font-weight: bold;"><?=contest_name?></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-success" style="">
					<h4>Welcome!</h4>
					This control panel can be used to submit problems, clarifications, and more. By registering, you agree to abide by all of the contest rules. All activity is being logged, and anti-tamper systems are in place. Please do not put us in a situation where your team would be disqualified. If you are ordering pizza, make sure to do so before the contest starts. To ensure that you do not experience any problems with the web control panel, use a modern, standards-compliant web browser such as Google Chrome or Mozilla Firefox, and make sure JavaScript is enabled. If you need help, raise your hand; someone will come to assist you. 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6" style="">
				<div class="well section" style="">
					<legend>Log In</legend>
					<form method="post" accept-charset="utf-8">
						<fieldset class="signup-container" >
							<div class="form-group"><input type="text" name="team" class="form-control" placeholder="Team Number" tabindex="1"></div>
							<div class="form-group"><input type="password" name="password" class="form-control" placeholder="Password" tabindex="1"></div>
							<div class="form-group"><legend></legend></div>
							<button type="submit" class="btn btn-block btn-success" id="sign" tabindex="5" style="height:40px;" data-loading-text="Signing In...">Sign In</button>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- <div style="width:350px;font-size:18px;margin:0 auto; text-align:center; margin-bottom: 20px;color:rgba(0,0,0,0.6);text-shadow:0 1px rgba(255,255,255,0.4); font-weight: bold;">- or -</div> -->
			<div class="col-lg-6" style="">
				<div class="well section" style="">
					<legend>Register</legend>
					<form method="post" action="/api/register" accept-charset="utf-8">
						<fieldset class="signup-container" >
							<div class="form-group"><input type="text" name="team" id="register-team" placeholder="Team Number" tabindex="1" class="form-control"></div>
							<div class="form-group"><input type="password" name="password" id="register-password"placeholder="Password" tabindex="1" class="form-control"></div>
							<div class="form-group"><legend></legend></div>
							<div class="btn-group" data-toggle="buttons" style="margin-bottom: 15px;width:100%;">			
								<label class="btn btn-success" style="width:50%;height:40px;">
									<input type="radio" name="division" value="Novice" id="novice"> Novice
								</label>
								<label class="btn btn-success" style="width:50%;height:40px;">
									<input type="radio" name="division" value="Advanced" id="advanced"> Advanced
								</label>
							</div>
							<div class="form-group"><legend></legend></div>
							<div class="form-group"><select name="school" id="school" class="form-control">
								<option value="null">School Name</option>
								<?php
									foreach ($schools as $school=>$a) {
										echo '<option value="'.$a.'">'.$a.'</option>';
									}
								?>
							</select></div>
							<div class="form-group"><select name="teamselect" id="team" class="form-control">
								<option value="null">Number of Team Members</option>
								<option value="1">1 Team Member</option>
								<option value="2">2 Team Members</option>
								<option value="3">3 Team Members</option>
							</select></div>
							<div class="form-group"><input type="text" name="member1" id="member1" placeholder="Member 1 Name" tabindex="1" class="form-control" style="display:none"></div>
							<div class="form-group"><input type="text" name="member2" id="member2" placeholder="Member 2 Name" tabindex="1" class="form-control" style="display:none"></div>
							<div class="form-group"><input type="text" name="member3" id="member3" placeholder="Member 3 Name" tabindex="1" class="form-control" style="display:none"></div>
							<div class="form-group"><legend></legend></div>
							<button type="submit" class="btn btn-block btn-success" id="sign" tabindex="5" style="height:40px;" data-loading-text="Signing Up...">Sign Up</button>
						</fieldset>
					</form>
				</div>	
			</div>		
		</div>
	</div>
<?php require_once "js.html"; ?>
</body>
</html>