<div class="row">
	<div class="col-lg-7" style="">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Time</h3>
			</div>
			<div class="panel-body">
				<div class="" id="time" style="font-size:72px;color:#d9534f;text-align:center">
					00:00:00
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5" style="">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Programming Score</h3>
			</div>
			<div class="panel-body">
				<div class="" id="prog_score" style="font-size:72px;color:#468847;text-align:center">
					0
				</div>
			</div>
		</div>
	</div>
</div>