<html>
<head>
<?php require_once "head.html"; ?>
</head>
<body class="home">
	<noscript>
    	<style type="text/css">
    	    .main {display:none;}
    	</style>
    	<div class="container noscriptmsg">
    		<div class="noscriptinner">
    			<div class="col-lg-12">
    				<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</noscript>
	<div class="container badbrowsermsg" style="display:none;">
		<div class="badbrowserinner">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<?php require_once "nojs.html";?>
    			</div>
    		</div>
    	</div>
	</div>
	<div class="container main">
		<div class="navbar" style="background:#f7f7f7 !important">
			<a class="navbar-brand" href="/"><?=navbar_title?></a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/submit">Submit</a></li>
				<li><a href="/scoreboard">Scoreboard</a></li>
				<li><a href="/#helpbox">Help</a></li>
			</ul>
			<p class="navbar-text pull-right"><a href="/logout" style="text-decoration: none" class="navbar-link">Logout</a></p>
		</div>
		<div class="row">
			<div class="col-lg-12" style="">
				<div class="well section" style="">
					<div class="row">
						<div class="col-lg-7">
							<legend id="compile_legend">Compile</legend>
							<form method="post" name="compile" id="compile_form" action="#" accept-charset="utf-8">
								<pre id="byte_content" class="prettyprint linenums" style="display:none;"></pre>
								<div id="output_container" style="display:none;">
									<legend>Results</legend>
									<div class="alert alert-success" id="compile_success_alert" style="display:none">
										<strong>Success! </strong>Your program has been queued for submission. Once your program is judged, you'll see it in your submissions list.
									</div>
									<div class="alert alert-danger" id="compile_danger_alert" style="display:none">
										<strong>Error - </strong>
									</div>
									<legend id="error_divider"></legend>
									<!-- <pre id="output" class="prettyprint linenums"></pre> -->
								</div>
								<fieldset class="form-container" >
									<div class="form-group">
										<select class="form-control" name="compile_question_select" id="compile_question_select">
											<?php
												foreach ($problems as $num=>$a) {
													echo '<option value="'.$num.'">'.$num.'. '.$a[$num].'</option>';
												}
											?>
										</select>	
									</div>
									<div class="form-group" id="upload_form">
										<input type="file" id="files" accept="text/plain" style="display:none">
										<div class="input-append">
											<div class="input-group">
										   		<input id="real_file" class="form-control" onclick="$('input[id=files]').click();" type="text">
										   		<span class="input-group-btn"><button type="button" class="btn btn-default" onclick="$('input[id=files]').click();">Browse</button></span>
										   	</div>
										</div>
									</div>
									<textarea name="code" id="code" cols="30" rows="10" style="display:none"></textarea>

									<button type="button" class="btn btn-block btn-default" id="upload" tabindex="5" style="" data-loading-text="Uploading...">Upload</button>
									<button type="button" class="btn btn-block btn-success" id="compile" tabindex="5" style="display:none" data-loading-text="Judging...">Judge</button>
									<button type="button" class="btn btn-block btn-primary" id="resubmit" tabindex="5" style="display:none" data-loading-text="Going Back..." onClick="onCompileResubmit()">OK</button>
								</fieldset>
							</form>
						</div>
						<div class="col-lg-5">
							<legend>Clarification</legend>
							<div class="form-group">
								<select class="form-control" name="clar_question_select" id="clar_question_select">
									<?php
										foreach ($problems as $num=>$a) {
											echo '<option value="'.$num.'">'.$num.'. '.$a[$num].'</option>';
										}
									?>
								</select>	
							</div>
							<div class="form-group">
								<textarea id="clarification_message" value="clar_text" class="form-control" rows="5" placeholder="Message" style="resize: vertical;"></textarea>
							</div>
							<button type="button" class="btn btn-warning btn-block clar_submit">Submit Clarification</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" style="margin-top:-21px !important;">
				<div class="well section" style="border-top-left-radius:0px !important;border-top-right-radius:0px !important;background:#eaeaea">
					<div class="row">
						<div class="col-lg-12">
							<legend>Clarifications</legend>
							 <div id="clar_box">
								<i style="color:#888;">No clarifications here.</i>
								<br><br>							
							</div> 
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<legend>Submissions</legend>
							<div id="sub_box">
								<i style="color:#888;">No submissions here.</i>
								<br><br>
							</div>					
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-1"></div>	
		</div>
	</div>
<?php require_once "js.html"; ?>
</body>
</html>